# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Files
datos/GTM_COUS_DESAGREGADOS_2013_2020_REFERENCIA.xlsx
datos/~$GTM_COUS_DESAGREGADOS_2013_2020_REFERENCIA.xlsx
datos/SCN_BD.xlsx
datos/.~lock.CLASIFICACIONES.xlsx#
datos/.~lock.GTM_COUS_DESAGREGADOS_2013_2020_REFERENCIA.xlsx#

MemoriaDeAnalisis/MemoriaDeAnalisis.pdf
MemoriaDeAnalisis/MemoriaDeAnalisis.docx
MemoriaDeAnalisis/MemoriaDeAnalisis.html
MemoriaDeAnalisis/MemoriaDeAnalisis.qmd
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/bootstrap/bootstrap-icons.css
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/bootstrap/bootstrap-icons.woff
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/bootstrap/bootstrap.min.css
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/bootstrap/bootstrap.min.js
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/clipboard/clipboard.min.js
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/anchor.min.js
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/quarto.js
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/tippy.css
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/tippy.umd.min.js
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/quarto-syntax-highlighting.css
MemoriaDeAnalisis/MemoriaDeAnalisis_files/libs/quarto-html/popper.min.js
datos/~$CLASIFICACIONES.xlsx
datos/~$CLASIFICACIONES_BALANCES.xlsx
salidas/~$test.xlsx
salidas/test.xlsx
